<div id="<%= dom_id member %>">
  <p>
    <strong>Username:</strong>
    <%= member.username %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= member.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= member.gender %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= member.address %>
  </p>

</div>
